name: Discord notification

on:
  push:
    branches:
    - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Discord notification
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        uses: Ilshidur/action-discord@master
        with:
          args: 'New commit in {{ EVENT_PAYLOAD.repository.full_name }}: ${{ github.event.head_commit.message }}'
