name: Store commit hash

on:
  push:
    paths-ignore:
      - commit.txt

jobs:
  store-commit-hash:
    if: github.actor != 'store-git-hash[bot]'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          sparse-checkout: |
            !*.png
            !*.jpg
            !*.jpeg
            !*.gif
            .
          sparse-checkout-cone-mode: false  # disable cone mode for wildcard support
          fetch-depth: 1

      - name: Fetch commit hash
        id: get_commit
        uses: pr-mpt/actions-commit-hash@v2

      - name: Write file
        uses: "DamianReeves/write-file-action@master"
        with:
          path: ${{env.home}}/commit.txt
          write-mode: overwrite
          contents: |
            ${{ steps.get_commit.outputs.short }}

      - name: Commit the file
        run: |
          git config user.name "store-git-hash"
          git add commit.txt
          git commit -m "Update commit hash"
          git push
